@using Business.ViewModels.Account
@model ForgetPasswordVM

@{
    Layout = "_SecondLayout";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="mb-4">
            <h3>Forget Password</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
        </div>
        <form asp-action="ForgetPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group first">
                <input asp-for="Email" class="form-control" placeholder="Email">
            </div>
            <div class="d-flex justify-content-center">
                <a asp-controller="Account" asp-action="Register" class="forgot-pass">Don't you have account? Register</a>
            </div>
            <button type="submit" class="btn text-white btn-block btn-primary mt-3">Send</button>
        </form>
    </div>
</div>