<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/login-assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/login-assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/login-assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/login-assets/css/style.css">

    <title>Login #8</title>
</head>
<body>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="~/login-assets/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/login-assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-assets/js/popper.min.js"></script>
    <script src="~/login-assets/js/bootstrap.min.js"></script>
    <script src="~/login-assets/js/main.js"></script>
</body>
</html>